@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800;400&display=swap');

body {
    background-color: #f0f0f0;
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:flex
}

.left-content {
    flex-grow:1;
}

.right-content {
    padding-left: 10%;
    flex-grow: 7;
}

h1 {
    font-size: 50px;
    font-weight: 800px;
    margin:-5px;
}

.content {
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px 1px #98c1d9;
    border-radius: 10px;
    padding:2%;
    margin-top: 15%;
}



.todo-list-title {
    color: rgb(27, 21, 32);
    text-align:center;
    
}


.todo-item {
    color: rgb(27, 21, 32);
    margin: 10px;
    display: flex;
    border-bottom: 1px solid rgb(207, 207, 207);
    align-items: center;
}

.todo-item .status{
    color: rgb(207, 207, 207);
}

.todo-item .status.checked{
    color: rgb(27, 21, 32);
}



.todo-item .title {
    flex-grow: 1;
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;

}

.todo-item .status.checked ~ .title{
    text-decoration:line-through;
}



.todo-item .remove {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.fa.fa-trash{
    color:rgb(207, 207, 207);
}

.fa.fa-trash:hover{
    color:rgb(190, 0, 0);
}

.spacer {
    padding: 10px;
}


.todo-new {
    color: rgb(27, 21, 32);
    border-style: solid;
    border-width: 0px;
    padding: 10px;
    padding-top: 0px;
    display:flex;
    align-items: center;
}

.todo-new .input {
    background-color: rgb(235, 235, 235);    
    border-color: rgb(207, 207, 207);
    border-style: solid;
    border-width: 1px; 
    padding: 5px;
    margin-right: 10px;
    flex-grow: 1;
    border-radius: 5px;
}



