
body {
    
}

.content {
    border: 1px solid;
    padding: 10px;
}

.todo-list {
    border: 1px solid;
}

.todo-item {
    margin: 10px;
    border: 1px solid;

    display: flex;
}

.todo-item .status {
    margin: 10px;

}

.todo-item .status:hover {
    background: lightgray;
}

.todo-item .status .icon {
    margin: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    
    height: 50px;
    width: 50px;
}

.todo-item .status.checked .icon {
    background-image: url(./media/checkmark.dio.svg);
}

.todo-item .title {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.todo-item .remove {
    margin: 10px;
}

.todo-new {
    border: 1px solid;
    padding: 10px;

    display: flex;
}

.todo-new .input {
    flex-grow: 1;
    margin: 10px;
}

.spacer {
    height: 10px;
}